/**
 * @file
 * CSS
 */


/**
 * HTML
*/
html * { /*FONT*/
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em !important;
    font-size: 14px;
    }

#toolbar-administration, #toolbar-administration * {font-size: 11px;}

a:hover {text-decoration: none;}

body{font-family: 'Montserrat', sans-serif; font-size: 15px;}
h2 {color: #fff; text-transform: uppercase; font-size: 1.3em; padding:10px; border-bottom: 5px solid #2BBFF2; font-weight: 500;}
h3.seccion {color: #4d4d4d; text-transform: uppercase; font-size: 1.2em; padding:10px; border-bottom: 5px solid #2BBFF2; font-weight: 500; text-align:center; width: 170px; margin:0 auto;}
h2.titulo-interno span {color: #4d4d4d; text-transform: uppercase; font-size: 1.3em; padding:0px; border-bottom: none; font-weight: 700;}
h2.titulo-interno {color: #4d4d4d; text-transform: uppercase; font-size: 1.7em; padding:10px 0px; border-bottom: none;}

ol.breadcrumb {background: #005B95; border-radius: 0;}
ol.breadcrumb li a {color: #FFF; font-size: 0.9em;}

.top_header_idioma .content ul.links {list-style: none; padding: 0; margin: 25px 0 0 0;}
.top_header_idioma .content ul.links li {float: left; padding: 5px 10px; display: inline-block;}
.top_header_idioma .content ul.links li a {color: #FFF;  border-bottom: transparent 3px solid; padding-bottom: 3px;}
.top_header_idioma .content ul.links li a.is-active {border-bottom: #FFF 3px solid;}

/**
 * NAVIGATION
*/
.main-menu {padding-top: 20px; padding-bottom: 20px;}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:hover {
    color: #808080;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #808080;
}

.top_header {background: #00BFF2; padding-bottom: 10px;}
#navbar-main {padding-bottom: 20px;padding-top: 20px;}
ul.dropdown-menu.show {
  border-radius: 0;
}ul.dropdown-menu li a{
  color: #005B95;
}
/**
 * LAYOUT
*/
.contenido {padding-bottom: 20px;}
img.img-contenido {margin-top: 20px; padding-bottom: 15px; width: 100%;max-width: 900px;}
#footer {background: url(img/foto-footer_fondo.jpg) no-repeat; background-size: cover; padding: 25px 15px;}
#footer p, #footer h3, #footer a {color: #fff;}
#footer h3 {font-weight: bold; padding-top: 25px;}
#footer p {position: relative; padding-left:20px;}
#footer p.correo:before {position: absolute; content: ""; width: 15px; height: 15px; background:url(img/icono-footer_emailx.svg); left: 0;top:2px;}
#footer p.horario:before {position: absolute; content: ""; width: 15px; height: 15px; background:url(img/icono-footer_horario.svg); left: 0;top:2px;}
#footer p.telefono:before {position: absolute; content: ""; width: 15px; height: 15px; background:url(img/icono-footer_tel.svg); left: 0;top:2px;}
#footer p.apartado:before {position: absolute; content: ""; width: 15px; height: 15px; background:url(img/icono-footer_postal.svg); left: 0;top:0;}
.copy {background: #808080; padding: 10px;}
.copy p {text-align: center; color: #fff; margin-bottom: 2px;}
.path-frontpage .view-footer {
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
    justify-content: center;
}
.boton-verde {background: #4C993F; color: #fff; padding: 15px 20px; text-transform: uppercase;}
.boton-verde:hover {background: #73C167; color: #fff; padding: 15px 20px; text-transform: uppercase;}
.boton-gris {background: #7C98AB; color: #fff; padding: 15px 20px; text-transform: uppercase;}
.boton-gris:hover {background: #f29800; color: #fff; padding: 15px 20px; text-transform: uppercase;}
.view-id-personal.view-display-id-block_1 {padding-top: 40px;}
.ficha-investigador {padding-right: 16px;}
.nombre-investigador a {background: #DFE7F4; color: #4d4d4d; padding: 5px; display: block; }
a.nombre-investigador {background: #DFE7F4; color: #4d4d4d; padding: 5px; display: block; }
p.tipo-evento {
    color: #4C993F;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}
.tipo-evento-nodo {
  color: #4C993F;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}
.eventos-wrapper .view-content.row{margin: 0;}

.lista-eventos h3 a {
    font-size: 1.1em;
    color: #4d4d4d;
}
#block-views-block-pizarra-informativa-block-1 h2.titulo, .gris h2 {color: #4d4d4d;}
.fondo-gris {
  background: #f1f1f1;
  margin-top: 25px;
  margin-bottom: 25px;
}
h2.pizarra {
  color: #4d4d4d;
  margin: 0 auto;
  width: 250px;
  margin-top: 15px;
}
h3.pizarra {
  font-size: 2em;
  color: #4d4d4d;
  margin-top: 20px;
  margin-bottom: 15px;
}
.view-pizarra-informativa .view-content.row {display: block;}
p.persona-evento, p.lugar, p.hora, p.fecha span, p.fecha {
    font-size: 0.9em;
    color: #808080;
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;;
}
p.persona-evento:before {position: absolute; content: ""; width: 12px; height: 15px; background:url(img/icono-pizarra_persona.svg); left: 0;top:0;}
p.lugar:before {position: absolute; content: ""; width: 10px; height: 15px; background:url(img/lugar.svg); left: 0;top:0;}
p.hora:before, p.fecha:before {position: absolute; content: ""; width: 12px; height: 15px; background:url(img/icono-pizarra_hora.svg); left: 0;top:0;}
a.boton-naranja {position: absolute; background: url(img/icono-pizarra_flecha.svg)no-repeat #f29800; color: #fff; padding: 30px; right: 0; bottom: 0; background-position: center;}
a.boton-naranja:hover {background: url(img/icono-pizarra_flecha.svg)no-repeat #4C993F;background-position: center;}
.lista-eventos {
    background: #fff;
    padding: 15px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
h3.titulo-evento span {
  font-size: 1.3em;
  text-align: center;
}
span.dia.f-final time {
    padding-top: 10px;
    display: block;
    position: relative;
}
span.dia.f-final time:before {
    position: absolute;
    width: 10px;
    height: 2px;
    background: #7C98AB;
    content: "";
    left: 47%;
    top: 7px;
}
span.fecha time {
    color: #7C98AB;
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
    display: block;
    text-transform: uppercase;
    padding-left: 24px;
    padding-right: 24px;
}
span.dia time {
    display: block;
    color: #f29800;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.seccion2 {background: linear-gradient(to right, #e6e6e6 56%, #FFFFFF 34%); padding-top: 30px;}
.seccion2 .base-titulo {padding-top: 30px;}
.base-titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
a.proyectos, a.publicaciones {min-height: 219px;}
a.proyectos {
    position: relative;
    background-image: url(img/foto-header_proyectos.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 120px 40px 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-size: cover;
    color: #fff;
    display: block;
    height: auto;
    font-size: 2.2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.8;
}
a.proyectos:hover, a.publicaciones:hover {opacity: 1; text-decoration: none;}
a.proyectos:before {
    position: absolute;
    content: "";
    background: url(img/icono-header_proyectos.png)no-repeat;
    width: 63px;
    height: 63px;
    top: 31px;
    left: 39%;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 42px;
    background-position: center;
}
a.publicaciones:before {
    position: absolute;
    content: "";
    background: url(img/icono-header_publicaciones.png)no-repeat;
    width: 63px;
    height: 63px;
    top: 31px;
    left: 39%;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 42px;
    background-position: center;
}
a.publicaciones {
    position: relative;
    background-image: url(img/foto-header_publicaciones.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 120px 40px 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-size: cover;
    color: #fff;
    display: block;
    height: auto;
    font-size: 2.2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.8;
}
.accion-social {background-image: url(img/foto-accionsocial_fondo.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 30px 40px 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-size: cover;}

a.banner-verde {
    background-color: rgba(115, 193, 103, 0.5);
    display: block;
    padding: 20px;
    color: #fff!important;
    font-size: 1.4em;
    position: relative;
}
a.banner-verde:after {content:""; position: absolute; background: url(img/icono-pizarra_flecha.svg)no-repeat #4C993F; color: #fff; padding: 30px; right: 0; bottom: 0; background-position: center;}
a.banner-verde:hover {
    background-color: rgba(115, 193, 103, 1);
  text-decoration: none;
}
a.banner-verde strong {font-size: 1.7em; font-weight: 800; color: #fff;}

.informacion-personal {background: #DFE7F4; padding: 20px 20px 100px 20px; margin-bottom: 20px; color: #4D4D4D;}
.informacion-personal h3.nombre {text-transform: uppercase; font-size: 1.2em; margin-bottom: 15px;}
.informacion-personal .foto {position: absolute; left: -112px;}
.informacion-personal p {padding-left: 25px;}
.informacion-personal p, .informacion-personal li {font-weight: bold; margin-bottom: 10px;}
.subtitulo.formacion{background: url(../img/ico-ficha-persona--titulos.svg) no-repeat 0 0; font-size: 15px; padding-left: 25px;}
.subtitulo.especialidad{background: url(../img/ico-ficha-persona--especialidad.svg) no-repeat 0 0; font-size: 15px; padding-left: 25px;}
.subtitulo.correo{background: url(../img/ico-ficha-persona--mail.svg) no-repeat 0 0; font-size: 15px; padding-left: 25px;}
.subtitulo.telefono{background: url(../img/ico-ficha-persona--telefono.svg) no-repeat 0 0; font-size: 15px; padding-left: 25px;}

.proyectos-investigador {padding-bottom: 30px;}
.proyectos-investigador .views-row {padding-bottom: 15px; margin-bottom: 15px; border-bottom: #C4D6ED 1px solid;}
.proyectos-investigador h3 {color: #73C167; text-transform: uppercase; font-weight: bold; display: inline-block; margin-bottom: 15px; font-size: 1.4em;}
.proyectos-investigador .number {color: #C4D6ED; display: inline-block; margin-bottom: 8px;}
.proyectos-investigador .number:before {content: '•'; color: #333; display: inline-block; width: 8px; text-align: left; display: inline-block; font-style: 1.4em;}

.proyectos-investigador p, .proyectos-investigador .date, .proyectos-investigador .people {margin-left: 10px;}

.proyectos-investigador .date, .proyectos-investigador .people {background:url(../img/ico-calendario-proy.svg) no-repeat 0 2px; background-size: 15px; display: inline-block; clear: both; margin-bottom: 6px; padding-left: 22px; color: #808080;}
.proyectos-investigador .people {background:url(../img/ico-persona-proy.svg) no-repeat 0 1px; background-size: 15px;}
.proyectos-investigador .people a{color: #005B95;}
.proyectos-investigador span.title {font-size: 1.1em; font-weight: bold; display: inline-block; width: 100%; margin-bottom: 8px; padding-left: 10px;}
.filters {background: #DFE7F4; padding-top: 20px; padding-bottom: 20px; margin-bottom: 30px;}
.filters label{color: #808080;}
.filters fieldset {width: 40% !important;}

.seccion1 .owl-controls {position: absolute; width: 100%; bottom: 0;}

.section-title {text-transform: uppercase; text-align: center; color: #4D4D4D; display: block; font-size: 1.2em; margin-bottom: 30px;}
.section-title:after {content: ''; background: #50C8E8; height: 8px; width: 100px; margin: 5px auto; display: block;}

.personal .wrapper {
  background: #DFE7F4;
  padding: 15px;
  display: inline-block;
  width: 100%;
  min-height: 581px;
  color: #575758;
  font-weight: bold;
}
.personal .views-row {margin-bottom: 25px;}
.personal h3.subtitle a {width: 100%; display: inline-block; text-align: center; color: #4D4D4D; text-transform: uppercase; padding-bottom: 8px; font-size: 1.1em;}
.personal h3.subtitle a:after {content: ''; display: block; width: 50%; margin: 10px auto 15px auto; height: 5px; background: #4d8db4;}
.personal span.ver-ficha {display: inline-block; width: 100%; text-align: center; padding-top: 15px; padding-bottom: 15px;}
.personal span.ver-ficha a {padding: 10px; background: #73C167; color: #FFF; margin: 15px auto;}
.personal span.ver-ficha a:hover {background: #7C98AB;}

.view-field {display: inline-block; width: 100%; padding-bottom: 5px;}
.view-field span.lbl {display: inline-block; width: 100%;font-weight: 400;}
.view-field p {font-weight: bold;}

.image-container {
  width: 100%;
  height: 95%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.image-container .mask,
.image-container .content {
  width: 95%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
}
.image-container img {
  display: block;
  position: relative;
}
.image-container a.info {
  background: url('link.png') center no-repeat;
  display: inline-block;
  text-decoration: none;
  padding: 0;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
}
.effect .mask {
  opacity: 0;
  overflow: visible;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}
.effect a.info {
  position: relative;
  top: -10px;
  /* Center the link */
  opacity: 0;
  transition: opacity 0.5s 0s ease-in-out;
}
.effect:hover .mask {
  opacity: 1;
}
.effect:hover a.info {
  opacity: 1;
  transition-delay: 0.3s;
}
.effect .mask {
  opacity: 0;
  overflow: visible;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}
.effect:hover .mask {
  opacity: 1;
  background: rgba(43, 191, 242, 0.8);

}
a#infomask {
  position: absolute;
  width: 94.5%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(43, 191, 242, 0.8) url(../img/more-investigadores.svg) no-repeat center center;
  background-size: 75px;
  opacity: 0;
  transition: 0.2s;
}
a#infomask:hover {
  position: absolute;
  width: 94.5%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(43, 191, 242, 0.8) url(../img/more-investigadores.svg) no-repeat center center;
  background-size: 75px;
  opacity: 0.6;
}
.path-personal{

}
.list-group-item {

  background-color: transparent;
  border: none;
}
.item-list ul {
  list-style: circle;
  margin: 0 0 0.25em 0;
  padding: 0 0 0 40px;
}
.list-group-item:before,p.especialidad_text a:before {
  content: '•';
  position: absolute;
  left: -18px;
  font-size: 20px;
}
span.subtitulo.telefono.informacion-personal,span.subtitulo.correo.informacion-personal{
  padding: 0 0 0 25px;
  font-weight: 400;
}
.ico-area-esp,.ico-formacion{padding-left: 25px; position: relative;}
.ico-area-esp:before{
  content: '';
  background: url(../img/ico-ficha-persona--especialidad.svg) no-repeat 0 0; 
  font-size: 15px; 
  left: 0;
  top: -2px;
  position: absolute;
  padding: 10px;
}
.ico-formacion:before{
  content: '';
  background: url(../img/ico-ficha-persona--titulos.svg) no-repeat 0 0; 
  font-size: 15px; 
  left: 0;
  top: -2px;
  position: absolute;
  padding: 10px;
}
p.especialidad_text a {
  display: block;
  margin-left: 40px;
  margin-bottom: 10px;
  color: #4D4D4D;
  cursor: initial;
  position: relative;
}
p.especialidad_text {
  padding: 0;
}
/**
 * MEDIA QUERIES
*/
@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) { }
